.our-financial-solutions-section {
  @apply px-20
  py-16
  bg-gradient-to-tr from-gray-300 to-gray-100;
}

.our-financial-solutions-title {
  @apply section-title
  text-gray-800;
}

.our-financial-solutions-content {
  @apply grid
  grid-cols-3
  gap-16
  items-stretch
  justify-center;
}

.our-financial-solution-card {
  @apply bg-neutral-50 
  p-6 
  rounded-md
  transition
  shadow-lg 
  hover:bg-neutral-100
  hover:shadow-xl
  flex
  flex-col;
}

.our-financial-solution-card-icon {
  @apply text-gray-800 
  mb-2;
}

.our-financial-solution-card-title {
  @apply text-xl 
  mb-3 
  text-gray-800;
}

.our-financial-solution-card-description {
  @apply text-gray-600
  font-light
  flex-grow
  mb-2;
}

.our-financial-solution-card-learn-more-link {
  @apply text-blue-700 
  hover:underline;
}
