.our-financial-solutions-section {
  @apply px-20
  py-16
  bg-gradient-to-tr from-gray-900 to-gray-800;
}

.section-title {
  @apply text-center
  text-3xl
  text-white
  mb-10;
}

.our-financial-solutions-section-content {
  @apply grid
  grid-cols-3
  gap-16
  items-center
  justify-center;
}

.financial-solution-card {
  @apply bg-gray-700/75 p-6 rounded-md;
  @apply backdrop-blur-md;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  transition: transform 0.4s ease-in-out;
}

.financial-solution-card:hover {
  transform: scale(1.05);
}

.solution-title {
  @apply text-2xl font-semibold mb-4 text-white;
}

.solution-description {
  @apply text-gray-400;
}

.learn-more-link {
  @apply text-blue-300 hover:underline;
}
