@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .section {
    @apply px-20
    py-16
    flex
    flex-col
    gap-10
    justify-center
    items-center;
  }

  .section-with-bg-img {
    @apply bg-cover 
    relative;
  }

  .section-with-no-bg-img {
    @apply bg-gradient-to-tr from-gray-300 to-gray-100;
  }

  .bg-img-overlay {
    @apply bg-overlay
    absolute
    inset-0;
  }

  .section-title {
    @apply text-center
    text-xl
    font-light;
  }

  .section-title-with-bg-img {
    @apply relative
    text-neutral-50;
  }

  .section-title-with-no-bg-img {
    @apply text-gray-800;
  }

  .hero-content {
    @apply relative
    h-full
    flex
    flex-col
    gap-5
    items-center
    justify-center;
  }

  .hero-headline {
    @apply text-primary
    text-center
    text-4xl 
    font-semibold;
  }

  .hero-subheadline {
    @apply text-neutral-50
    text-center 
    text-xl 
    font-extralight;
  }

  .section-content {
    @apply grid
    gap-10
    items-stretch
    justify-center
    relative;
  }

  .card {
    @apply flex
    flex-col
    gap-1  
    rounded-md
    transition
    shadow-lg 
    hover:shadow-xl;
  }

  .card-light {
    @apply p-7
    bg-neutral-50 
    hover:bg-neutral-100;
  }

  .card-dark {
    @apply items-center
    justify-center
    p-10
    bg-neutral-900/70
    hover:bg-neutral-900/85
    backdrop-blur-sm;
  }
}
