@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .company-logo {
    @apply text-lg 
    font-bold 
    transition
    hover:text-primary;
  }

  .section {
    @apply flex
    flex-col
    gap-2
    justify-center
    items-center
    py-16;
  }

  .section-with-bg-img {
    @apply bg-cover 
    relative;
  }

  .section-with-no-bg-img {
    @apply bg-gradient-to-tr from-gray-300 to-gray-100;
  }

  .bg-img-overlay {
    @apply bg-overlay
    absolute
    inset-0;
  }

  .section-title {
    @apply text-center
    text-xl
    font-light
    mb-8;
  }

  .section-title-with-bg-img {
    @apply relative
    text-neutral-50;
  }

  .section-title-with-no-bg-img {
    @apply text-gray-800;
  }

  .section-content {
    @apply mx-auto
    grid
    items-stretch
    justify-center
    relative
    /* px-20 */
    2xl:gap-20
    2xl:max-w-screen-2xl
    xl:max-w-screen-xl;
  }

  .card {
    @apply p-6
    flex
    flex-col
    gap-1  
    rounded-md
    transition
    shadow-lg 
    hover:shadow-xl;
  }

  .card-light {
    @apply bg-neutral-50 
    hover:bg-neutral-100;
  }

  .card-dark {
    @apply items-center
    justify-center
    bg-neutral-900/70
    hover:bg-neutral-900/85
    backdrop-blur-sm;
  }

  .card-description {
    @apply font-light 
    flex-grow;
  }

  .card-description-light {
    @apply text-gray-600;
  }

  .card-description-dark {
    @apply text-neutral-400
    text-center;
  }

  .hero-content {
    @apply section-content
    gap-0;
  }

  .hero-headline {
    @apply text-primary
    text-center
    font-semibold
    2xl:text-4xl;
  }

  .hero-subheadline {
    @apply text-neutral-50
    text-center 
    font-extralight
    mt-1.5
    2xl:text-2xl;
  }

  .hero-cta {
    @apply mt-6;
  }
}

body {
  @apply bg-yellow-400
  max-w-full;
}
